<p id="notice"><%= notice %></p>


<div class="row">
  <aside class="span4">
    <section>
      <h1>
            <p>
              <%= gravatar_for @user %>
              <b>Name:</b>
              <%= @user.name %>
            </p>

            <p>
              <b>Email:</b>
              <%= @user.email %>
            </p>
      </h1>
    </section>
  </aside>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<% provide(:title, @user.name) %>
<h1> <%= @user.name %> </h1>